src/Validation/Etudiants.dtd

<?xml version="1.0" encoding="UTF-8"?>
    <!ELEMENT Etudiants (Etudiant+)>
    <!ELEMENT Etudiant (CodeApogee, Nom, Prenom, Email, CIN, DateNaissance, LieuNaissance)>
    <!ELEMENT CodeApogee (#PCDATA)>
    <!ELEMENT Nom (#PCDATA)>
    <!ELEMENT Prenom (#PCDATA)>
    <!ELEMENT Email (#PCDATA)>
    <!ELEMENT CIN (#PCDATA)>
    <!ELEMENT DateNaissance (#PCDATA)>
    <!ELEMENT LieuNaissance (#PCDATA)>
